<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#" class="navbar-brand">Quotes App</a>
            </div>
        </div>
      </nav>
      
      <div class="container">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      
      <hr><hr>
      

      <div class="jumbotron" *ngFor = 'let quote of userQuotes, let i = index'>
        <h2>"{{quote.message}}"</h2>
  <h2>"{{quote.message}}"</h2>

  <span><h4>{{quote.author}}</h4></span>

  <br>

  <button class="btn btn-primary" (click)='toogleDetails(i)'>See More</button>

  <br><br>


  <app-quote-details *ngIf ="quote.showMeta"[quote]='quote'  (isDeleted)= 'quoteDelete($event,i)'></app-quote-details>
</div> 
</div>