     <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">QUOTES APP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
<div class="container">     

      <div class="container">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      
      <hr><hr>
      

      <div class="jumbotron" *ngFor = 'let quote of userQuotes, let i = index'>
        <h2>"{{quote.message}}"</h2>
 

  <span><h4>{{quote.author}}</h4></span>

  <br>

  <button class="btn btn-primary" (click)='toogleDetails(i)'>See More</button>

  <br><br>


  <app-quote-details *ngIf ="quote.showMeta"[quote]='quote'  (isDeleted)= 'quoteDelete($event,i)'></app-quote-details>
</div> 
</div>